@model se_CodeFirst_3.Models.Product

@{
    ViewBag.Title = "افزودن محصول";

    IEnumerable<se_CodeFirst_3.Models.Supplier> suppliersList = ViewBag.SuppliersList;
}

<h2 class="page-title page-title-create"><span class="glyphicon glyphicon-plus"></span> @ViewBag.Title</h2>

<div class="col-sm-8 items-list-in-create-page">
    <div>
        @Html.Partial("~/Views/Suppliers/Index.cshtml", suppliersList);
    </div>
</div>

<div class="col-sm-4 table-responsive" ng-app="ahkSearchApp" ng-controller="createItemCtrl" id="second-app-in-one-page">
    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { name = "ahkform" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="text" style="visibility:hidden" name="stayOnCreatePage" value="false" ng-model="stayOnCreatePage" />

        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>ویژگی</th>
                <th>مقدار</th>
                <th>درستی</th>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", required = "required", ng_model = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
                <td>
                    <span class="show-error" ng-show="ahkform.Name.$dirty && ahkform.Name.$invalid">
                        <span ng-show="ahkform.Name.$error.required" class="glyphicon glyphicon-remove" title="این فیلد نمی تواند خالی باشد."></span>
                    </span>
                    <span class="show-success" ng-show="ahkform.Name.$dirty">
                        <span ng-hide="ahkform.Name.$error.required" class="glyphicon glyphicon-check"></span>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", required = "required", ng_model = "UnitPrice", min = "0" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </td>
                <td>
                    <span class="show-error" ng-show="ahkform.UnitPrice.$dirty && ahkform.UnitPrice.$invalid">
                        <span ng-show="ahkform.UnitPrice.$error.required" class="glyphicon glyphicon-remove" title="این فیلد نمی تواند خالی باشد."></span>
                        <span ng-show="ahkform.UnitPrice.$error.number" class="glyphicon glyphicon-remove" title="این فیلد حتما باید عدد باشد."></span>
                    </span>
                    <span class="show-error" ng-show="ahkform.UnitPrice.$dirty && ahkform.UnitPrice.$invalid">
                        <span ng-show="ahkform.UnitPrice.$error.min" class="glyphicon glyphicon-remove" title="یک عدد معتبر وارد کنید."></span>
                    </span>
                    <span class="show-success" ng-show="ahkform.UnitPrice.$dirty">
                        <span ng-hide="ahkform.UnitPrice.$error.required || ahkform.UnitPrice.$error.min" class="glyphicon glyphicon-check"></span>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control", required = "required", ng_model = "UnitsInStock", min = "0" } })
                    @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
                </td>
                <td>
                    <span class="show-error" ng-show="ahkform.UnitsInStock.$dirty && ahkform.UnitsInStock.$invalid">
                        <span ng-show="ahkform.UnitsInStock.$error.required" class="glyphicon glyphicon-remove" title="این فیلد نمی تواند خالی باشد."></span>
                        <span ng-show="ahkform.UnitsInStock.$error.number" class="glyphicon glyphicon-remove" title="این فیلد حتما باید عدد باشد."></span>
                    </span>
                    <span class="show-error" ng-show="ahkform.UnitsInStock.$dirty && ahkform.UnitsInStock.$invalid">
                        <span ng-show="ahkform.UnitsInStock.$error.min" class="glyphicon glyphicon-remove" title="یک عدد معتبر وارد کنید."></span>
                    </span>
                    <span class="show-success" ng-show="ahkform.UnitsInStock.$dirty">
                        <span ng-hide="ahkform.UnitsInStock.$error.required || ahkform.UnitsInStock.$error.min" class="glyphicon glyphicon-check"></span>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="افزودن" class="btn btn-primary"
                        ng-disabled="ahkform.Name.$invalid || ahkform.UnitPrice.$invalid || ahkform.UnitsInStock.$invalid">
                    <span class="glyphicon glyphicon-plus"></span> افزودن
                </button>

                <button ng-mousedown="changeStayOnCreatePage()" class="btn btn-primary" type="submit"
                        ng-disabled="ahkform.Name.$invalid || ahkform.UnitPrice.$invalid || ahkform.UnitsInStock.$invalid">
                    <span class="glyphicon glyphicon-plus"></span> افزودن و ماندن
                </button>

                <a href="~/Products/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>
            </div>
        </div>
    }
</div>

<script>

    var app = angular.module('createItemApp', []);
    app.controller('createItemCtrl', function ($scope, $http) {
        $scope.stayOnCreatePage = false;
        $scope.changeStayOnCreatePage = function () {
            $scope.stayOnCreatePage = true;
        };
    });


    //very important: we can not have 2 angular app in one single page, se we have to use angular.bootstrap...
    angular.bootstrap(document.getElementById("second-app-in-one-page"), ['createItemApp']);

</script>

