@model se_CodeFirst_3.Models.Product

@{
    ViewBag.Title = "اطلاعات محصول";
}

<h2 class="page-title page-title-details"><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title</h2>

<div class="col-sm-offset-2 col-sm-8 table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <tr class="success">
            <th colspan="2">اطلاعات محصول</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.BuyUnitPrice)</td>
            <td>@Html.DisplayFor(model => model.BuyUnitPrice)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.SellUnitPrice)</td>
            <td>@Html.DisplayFor(model => model.SellUnitPrice)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitsInStock)</td>
            <td>@Html.DisplayFor(model => model.UnitsInStock)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Supplier.CompanyName)</td>
            <td>@Html.DisplayFor(model => model.Supplier.CompanyName)</td>
        </tr>

    </table>
</div>

<a href="~/products/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>

