@model se_CodeFirst_3.Models.Supplier

@{
    ViewBag.Title = "حذف تولیدکننده";
}

<div class="col-sm-offset-3 col-sm-6 table-responsive ahk-style-for-delete-page">
    <h2 class="page-title page-title-delete"><span class="glyphicon glyphicon-remove"></span> @ViewBag.Title</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>ویژگی</th>
            <th>مقدار</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CompanyName)
            </td>
        </tr>

        <tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>

    </table>


    <div class="form-actions no-color">
        @using (Html.BeginForm("Delete", "Suppliers", new { Id = ViewBag.SupplierId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span> حذف برای همیشه</button>
        }

        @using (Html.BeginForm("Edit", "Suppliers", new
        {
            Name = Model.Name,
            CompanyName = Model.CompanyName,
            PhoneNumber = Model.PhoneNumber,
            Address = Model.Address,
            IsDeleted = true
        }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> حذف</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eye-close"></span> بستن</button>
        }
    </div>
</div>