@model se_CodeFirst_3.Models.SupplierInformationViewModel

@{
    ViewBag.Title = "اطلاعات تولیدکننده";
}

<h2 class="page-title page-title-details"><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title</h2>

<div class="col-sm-offset-2 col-sm-8 table-responsive" id="content-for-print">
    <table class="table table-hover table-bordered table-striped">
        <tr class="success">
            <th colspan="2">اطلاعات تولید کننده</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
            <td>@Html.DisplayFor(model => model.CompanyName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitsInStock)</td>
            <td>@Html.DisplayFor(model => model.UnitsInStock)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr class="success">
            <th colspan="2">لیست محصولات</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>[ @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name),
                     @Html.DisplayNameFor(model => model.Products.FirstOrDefault().UnitsInStock),
                     @Html.DisplayNameFor(model => model.Products.FirstOrDefault().BuyUnitPrice),
                     @Html.DisplayNameFor(model => model.Products.FirstOrDefault().SellUnitPrice)]</td>
                <td>[@Html.ActionLink(@item.Name.ToString(),
                        "Details", "Products", new { id = item.Id }) , @item.UnitsInStock, @item.BuyUnitPrice, @item.SellUnitPrice]</td>
            </tr>
        }

    </table>
</div>
<a href="~/Suppliers/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>
<button class="btn btn-success" id="printPage"><span class="glyphicon glyphicon-print"></span> پرینت</button>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {

        $('#printPage').click(function () {

            var contentBeforePrint = document.getElementById('content-for-print').innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = contentBeforePrint;

            window.print();

            document.body.innerHTML = originalContent;
        });

    });
</script>

