
@model se_CodeFirst_3.Models.LogInViewModel

@{
    ViewBag.Title = "ورود";
}
<h2 class="page-title page-title-login"><span class="glyphicon glyphicon-log-in"></span> @ViewBag.Title</h2>
<div class="table-responsive col-sm-offset-3 col-sm-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>ویژگی</th>
                <th>مقدار</th>
            </tr>

            <tr>
                <td><span class=" glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", dir = "ltr" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    <span class=" glyphicon glyphicon-lock"></span> @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", dir = "ltr", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="ورود" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> ورود</button>
            </div>
        </div>
    }
</div>


@* //For Getting Token:
    @model se_CodeFirst_3.Models.LogInViewModel

    <h2>
        @ViewBag.Title
    </h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ورود</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ورود" class="btn btn-default" />
                </div>
            </div>
        </div>
    }



*@