@model se_CodeFirst_3.Models.Order

@{
    ViewBag.Title = "اطلاعات سفارش";
}

<h2 class="page-title page-title-details"><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title</h2>

<div class="col-sm-offset-2 col-sm-8 table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <tr class="success">
            <th colspan="2">اطلاعات سفارش</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Contract.Content)</td>
            <td>@Html.DisplayFor(model => model.Contract.Content)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Customer.Name)</td>
            <td>@Html.DisplayFor(model => model.Customer.Name)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.OrderDate)</td>
            <td>@Html.DisplayFor(model => model.OrderDate)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.RequiredDate)</td>
            <td>@Html.DisplayFor(model => model.RequiredDate)</td>
        </tr>
    </table>
</div>
<a href="~/Orders/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>
