@model se_CodeFirst_3.Models.UserListViewModel

@{
    ViewBag.Title = "حذف کاربر";
}

<div class="col-sm-offset-3 col-sm-6 table-responsive ahk-style-for-delete-page">
    <h2 class="page-title page-title-delete"><span class="glyphicon glyphicon-remove"></span> @ViewBag.Title</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>ویژگی</th>
            <th>مقدار</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>

        <tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Benefits)
            </td>
            <td>
                @Html.DisplayFor(model => model.Benefits)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OverTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.OverTime)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.AbsentDays)
            </td>
            <td>
                @Html.DisplayFor(model => model.AbsentDays)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm("Delete", "Users", new { Id = ViewBag.UserId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> حذف برای همیشه</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eye-close"></span> بستن</button>
        </div>
    }
</div>

    
