@model se_CodeFirst_3.Models.Order_Detail

@{
    ViewBag.Title = "اطلاعات جزئیات سفارش";
}

<h2 class="page-title page-title-details"><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title</h2>

<div class="col-sm-offset-2 col-sm-8 table-responsive" id="content-for-print">
    <table class="table table-hover table-bordered table-striped">
        <tr class="success">
            <th colspan="2">اطلاعات جزئیات سفارش</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OrderId)</td>
            <td>@Html.DisplayFor(model => model.OrderId)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Product.Name)</td>
            <td>@Html.DisplayFor(model => model.Product.Name)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Quantity)</td>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>

    </table>
</div>
<a href="@Url.Action("Index", "Order_Detail")" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>