@model se_CodeFirst_3.Models.Order_Detail

@{
    ViewBag.Title = "افزودن جزئیات سفارش";
}

<h2 class="page-title page-title-create"><span class="glyphicon glyphicon-plus"></span> @ViewBag.Title</h2>
<div class="col-sm-offset-2 col-sm-8 table-responsive" ng-app="createItemApp" ng-controller="createItemCtrl">
    @using (Html.BeginForm("Create", "Order_Detail", FormMethod.Post, new { name = "ahkform", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="text" style="visibility:hidden" name="stayOnCreatePage" value="false" ng-model="stayOnCreatePage" />

        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>ویژگی</th>
                <th>مقدار</th>
                <th>درستی</th>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ProductId, "شماره محصول", htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", required = "required", ng_model = "Quantity" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </td>
                <td>
                    <span class="show-error" ng-show="ahkform.Quantity.$dirty && ahkform.Quantity.$invalid">
                        <span ng-show="ahkform.Quantity.$error.required" class="glyphicon glyphicon-remove" title="این فیلد نمی تواند خالی باشد."></span>
                        <span ng-show="ahkform.Quantity.$error.number" class="glyphicon glyphicon-remove" title="این فیلد حتما باید عدد باشد."></span>
                    </span>
                    <span class="show-error" ng-show="ahkform.Quantity.$dirty && ahkform.Quantity.$invalid">
                        <span ng-show="ahkform.Quantity.$error.min" class="glyphicon glyphicon-remove" title="یک عدد معتبر وارد کنید."></span>
                    </span>
                    <span class="show-success" ng-show="ahkform.Quantity.$dirty">
                        <span ng-hide="ahkform.Quantity.$error.required || ahkform.Quantity.$error.min" class="glyphicon glyphicon-check"></span>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.OrderId, "شماره قرارداد", htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownList("OrderId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>

        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="ahkform.Quantity.$invalid">
                    <span class="glyphicon glyphicon-plus"></span> افزودن
                </button>

                <button ng-mousedown="changeStayOnCreatePage()" class="btn btn-primary" type="submit"
                        ng-disabled="ahkform.Quantity.$invalid">
                    <span class="glyphicon glyphicon-plus"></span> افزودن و ماندن
                </button>

                <a href="~/Order_Detail/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>
            </div>
        </div>
    }
</div>

<script>

    var app = angular.module('createItemApp', []);
    app.controller('createItemCtrl', function ($scope, $http) {
        $scope.stayOnCreatePage = false;
        $scope.changeStayOnCreatePage = function () {
            $scope.stayOnCreatePage = true;
        };
    });


</script>
